<template name="hud">
    <!--<nav class="navbar navbar-default" role="navigation">-->
        <!--<div class="navbar-header">-->
          <!--<a class="navbar-brand" href="/">Roboticks</a>-->
        <!--</div>-->

        <!--<ul class="nav navbar-nav navbar-right">-->
          <!--<li class="dropdown">-->
            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{currentUser.services.facebook.name}} <b class="caret"></b></a>-->
            <!--<ul class="dropdown-menu">-->
              <!--&lt;!&ndash;<li class="divider"></li>&ndash;&gt;-->
              <!--<li><a href="#" class="log-out">Log out</a></li>-->
            <!--</ul>-->
          <!--</li>-->
        <!--</ul>-->
    <!--</nav>-->

    <div class="hud">
        <div class="map">
            {{#each shapes}}
                {{> shape}}
            {{/each}}
            <!--<table class="sectors">-->
                <!--<tbody>-->
                    <!--{{#each map}}-->
                        <!--<tr>-->
                            <!--{{#each .}}-->
                                <!--<td class="sector {{#if own}}own{{/if}} {{#if enemy}}enemy{{/if}} {{#if letters}}letters{{/if}}">-->
                                    <!--{{letter}}-->
                                <!--</td>-->
                            <!--{{/each}}-->
                        <!--</tr>-->
                    <!--{{/each}}-->
                <!--</tbody>-->
            <!--</table>-->
        </div>
    </div>

    <footer>
        <div class="footer-fixed-bottom container">
                <div class="row">
                    <div class="col-sm-4 links">
                        <a href="#">Show comments</a> - <a href="#" class="log-out">Log out</a>
                    </div>
                    <div class="col-sm-4 share">
                        <!-- AddThis Button BEGIN -->
                        <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                            <a class="addthis_button_facebook"></a>
                            <a class="addthis_button_twitter"></a>
                            <a class="addthis_button_email"></a>
                            <a class="addthis_button_google_plusone_share"></a>
                            <a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style"></a>
                        </div>
                        <!-- AddThis Button END -->
                    </div>
                    <div class="col-sm-4 copyright">
                        Created by <a href="https://github.com/DenisGorbachev">Denis Gorbachev</a> in 2013
                      </div>
                </div>
        </div>
    </footer>
</template>
